body {
  border-radius: 50px;
  border-color: black;
  background-image: url("https://th.bing.com/th/id/R.f0e26b83f5683eb9e7bdd54595fc9738?rik=EJK%2f4jRS5tOdIQ&pid=ImgRaw&r=0&sres=1&sresct=1")
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  height: 80vh;
  width: 300px;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.089);
  padding: 20px;
  object-fit: cover;
}

.card-holder {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

h6{
   text-align:left;
}




