body {
  size: fit-content;
  
  
}
 

#image{
  background-image: url("https://th.bing.com/th/id/OIP.uDtwbgOqOMwMh3PfhjJH0gHaEo?w=302&h=187&c=7&r=0&o=5&pid=1.7");
  background-size: contain;
  opacity: 0.9;


}

.card {
  box-shadow: 9px 4px 8px 0 rgb(0, 0, 0);
  width:max-content;
  object-fit: contain;
  block-size: fit-content;
  margin: 0 auto;
  align-content: center;  
  background: rgba(255, 255, 255);
  background-color: rgb(245, 245, 245);
  opacity: 0.7;
   
}

.card-holder {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  min-height: 100vh;
}

h6 {
  text-align: left;
}

.block{
  width: 100%;
}